# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.x
*.elf
*.hex
*.zip

# e2studio junk
.metadata

# more stuff
make.log
*.gcda
*.gcno
*.idb
*.pdb
*.ilk
*.map
*.jdebug.user
*.jdebug
*.nvram

myMediaFile
_compiler_.txt
*.vcxproj.user
.vs/
.vscode
compile_flags.txt
compile_commands.json
.cmake
